<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
    <title>Kontakt</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('./partials/navigation'); %>
    <main>
      <h1>Kontakt</h1>
      <p>
        etwas Text
      </p>
    </main>
  </body>
</html>