<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('./partials/navigation'); %>
    <main>
      <h1>Home</h1>
      <% if (user) { %>
      <p>Hello <%= user.name %></p>
      <a href="/action/disconnect" class="a-btn">Disconnect</a>
      <% } else { %>
      <p>Nobody is connected.</p>
      <a href="/login" class="a-btn">Login page</a>
      <% } %>
    </main>
  </body>
</html>