<!DOCTYPE html>
<html lang="en">
<!-- ToDo: SSPI aus der URL nehmen -->
  <head>
    <%- include('./partials/head'); %>
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('./partials/navigation'); %>
    <main>
      <h1>Login</h1>
      <a href="/sso" class="a-btn">Anmeldung &uuml;ber Single Sign-On</a>
      <hr />
      <br />
      <div>oder Anmeldung durch Eingabe der Zugangsdaten</div>
      <form action="/sspi/action/connect" method="POST">
        <label>
          <input name="login" type="text" placeholder="Konzern-ID" value="" />
        </label>
        <label>
          <input name="password" type="password" placeholder="Passwort" value="" />
        </label>
        <input type="submit" class="a-btn" value="Anmelden">

        <% if (error) { %>
          <p class="error"><%= error %></p>
        <% } %>
      </form>
    </main>
  </body>
</html>